{
  "presets": [
    "@babel/preset-react",
    [
      "@babel/preset-env",
      {
        "modules": false
      }
    ]
  ],
  "plugins": [
    "babel-plugin-add-react-displayname",
    "babel-plugin-styled-components",
    ["@babel/plugin-proposal-object-rest-spread", { "loose": true, "useBuiltIns": false }]
  ]
}
